body{
    margin:0;
    overflow:hidden;
    font-family:'Segoe UI',sans-serif;
    transition: background 1s;
}

/* MODE */
.day{
    background: linear-gradient(to bottom, #87ceeb, #f0f8ff);
}

.night{
    background: linear-gradient(to bottom, #020111, #191621);
}

/* UI */
#ui{
    position:fixed;
    top:20px;
    left:20px;
    z-index:10;
    color:white;
}

button{
    padding:10px 15px;
    margin:5px;
    border:none;
    border-radius:10px;
    cursor:pointer;
    font-weight:bold;
    background:white;
}
